[submodule "projects/Multimodal-Anomaly-Detection-for-Marketing"]
	path = projects/Multimodal-Anomaly-Detection-for-Marketing
	url = https://github.com/LucaReggiani-AI-Projects/Multimodal-Anomaly-Detection-for-Marketing.git
